In [55]:
#!pip install sqlalchemy==1.3.9

### Connect to the database

Let us first load the SQL extension and establish a connection with the database

In [56]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [57]:
import csv, sqlite3

con = sqlite3.connect("my_data1.db")
cur = con.cursor()

In [58]:
#!pip install -q pandas==1.1.5

In [59]:
%sql sqlite:///my_data1.db

Traceback (most recent call last):
  File "c:\Program Files\Python311\Lib\site-packages\sql\connection.py", line 45, in __init__
    engine = sqlalchemy.create_engine(
             ^^^^^^^^^^^^^^^^^^^^^^^^^
  File "<string>", line 2, in create_engine
  File "c:\Program Files\Python311\Lib\site-packages\sqlalchemy\util\deprecations.py", line 281, in warned
    return fn(*args, **kwargs)  # type: ignore[no-any-return]
           ^^^^^^^^^^^^^^^^^^^
  File "c:\Program Files\Python311\Lib\site-packages\sqlalchemy\engine\create.py", line 552, in create_engine
    entrypoint = u._get_entrypoint()
                 ^^^^^^^^^^^^^^^^^^^
  File "c:\Program Files\Python311\Lib\site-packages\sqlalchemy\engine\url.py", line 754, in _get_entrypoint
    cls = registry.load(name)
          ^^^^^^^^^^^^^^^^^^^
  File "c:\Program Files\Python311\Lib\site-packages\sqlalchemy\util\langhelpers.py", line 358, in load
    if loader:
             ^^
  File "c:\Program Files\Python311\Lib\site-packages\sqlalchemy\dialects\__init__.py", line 47, in _auto_fn
    module = __import__("sqlalchemy.dialects.%s" % (dialect,)).dialects
             ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "c:\Program Files\Python311\Lib\site-packages\sqlalchemy\dialects\sqlite\__init__.py", line 10, in <module>
    from . import aiosqlite  # noqa
    ^^^^^^^^^^^^^^^^^^^^^^^
  File "c:\Program Files\Python311\Lib\site-packages\sqlalchemy\dialects\sqlite\aiosqlite.py", line 54, in <module>
    from .pysqlite import SQLiteDialect_pysqlite
  File "c:\Program Files\Python311\Lib\site-packages\sqlalchemy\dialects\sqlite\pysqlite.py", line 486, in <module>
    class SQLiteDialect_pysqlite(SQLiteDialect):
  File "c:\Program Files\Python311\Lib\site-packages\sqlalchemy\dialects\sqlite\pysqlite.py", line 528, in SQLiteDialect_pysqlite
    _isolation_lookup = SQLiteDialect._isolation_lookup.union(
                        ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
AttributeError: 'dict' object has no attribute 'union'

Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])
Traceback (most recent call last):
  File "c:\Program Files\Python311\Lib\site-packages\sql\magic.py", line 196, in execute
    conn = sql.connection.Connection.set(
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "c:\Program Files\Python311\Lib\site-packages\sql\connection.py", line 70, in set
    cls.current = existing or Connection(descriptor, connect_args, creator)
                              ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "c:\Program Files\Python311\Lib\site-packages\sql\connection.py", line 45, in __init__
    engine = sqlalchemy.create_engine(
             ^^^^^^^^^^^^^^^^^^^^^^^^^
  File "<string>", line 2, in create_engine
  File "c:\Program Files\Python311\Lib\site-packages\sqlalchemy\util\deprecations.py", line 281, in warned
    return fn(*args, **kwargs)  # type: ignore[no-any-return]
           ^^^^^^^^^^^^^^^^^^^
  File "c:\Program Files\Python311\Lib\site-packages\sqlalchemy\engine\create.py", line 552, in create_engine
    entrypoint = u._get_entrypoint()
                 ^^^^^^^^^^^^^^^^^^^
  File "c:\Program Files\Python311\Lib\site-packages\sqlalchemy\engine\url.py", line 754, in _get_entrypoint
    cls = registry.load(name)
          ^^^^^^^^^^^^^^^^^^^
  File "c:\Program Files\Python311\Lib\site-packages\sqlalchemy\util\langhelpers.py", line 358, in load
    if loader:
             ^^
  File "c:\Program Files\Python311\Lib\site-packages\sqlalchemy\dialects\__init__.py", line 47, in _auto_fn
    module = __import__("sqlalchemy.dialects.%s" % (dialect,)).dialects
             ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "c:\Program Files\Python311\Lib\site-packages\sqlalchemy\dialects\sqlite\__init__.py", line 10, in <module>
    from . import aiosqlite  # noqa
    ^^^^^^^^^^^^^^^^^^^^^^^
  File "c:\Program Files\Python311\Lib\site-packages\sqlalchemy\dialects\sqlite\aiosqlite.py", line 54, in <module>
    from .pysqlite import SQLiteDialect_pysqlite
  File "c:\Program Files\Python311\Lib\site-packages\sqlalchemy\dialects\sqlite\pysqlite.py", line 486, in <module>
    class SQLiteDialect_pysqlite(SQLiteDialect):
  File "c:\Program Files\Python311\Lib\site-packages\sqlalchemy\dialects\sqlite\pysqlite.py", line 528, in SQLiteDialect_pysqlite
    _isolation_lookup = SQLiteDialect._isolation_lookup.union(
                        ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
AttributeError: 'dict' object has no attribute 'union'

Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

In [60]:
import pandas as pd
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv")
df.to_sql("SPACEXTBL", con, if_exists='replace', index=False,method="multi")

101

**Note:This below code is added to remove blank rows from table**

In [61]:
%sql create table SPACEXTABLE as select * from SPACEXTBL where Date is not null

Traceback (most recent call last):
  File "c:\Program Files\Python311\Lib\site-packages\sql\magic.py", line 196, in execute
    conn = sql.connection.Connection.set(
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "c:\Program Files\Python311\Lib\site-packages\sql\connection.py", line 82, in set
    raise ConnectionError(
sql.connection.ConnectionError: Environment variable $DATABASE_URL not set, and no connect string given.

Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

In [62]:
df.to_csv('data.csv')

In [63]:
df['Launch_Site'].unique()

array(['CCAFS LC-40', 'VAFB SLC-4E', 'KSC LC-39A', 'CCAFS SLC-40'],
      dtype=object)

## Tasks

Now write and execute SQL queries to solve the assignment tasks.

**Note: If the column names are in mixed case enclose it in double quotes
   For Example "Landing_Outcome"**

### Task 1




##### Display the names of the unique launch sites  in the space mission

In [64]:
# Querying unique launch sites
unique_launch_sites = df['Launch_Site'].unique()

unique_launch_sites

array(['CCAFS LC-40', 'VAFB SLC-4E', 'KSC LC-39A', 'CCAFS SLC-40'],
      dtype=object)

In [65]:
%%sql
SELECT DISTINCT LaunchSite
FROM SPACEXTBL;

Traceback (most recent call last):
  File "c:\Program Files\Python311\Lib\site-packages\sql\magic.py", line 196, in execute
    conn = sql.connection.Connection.set(
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "c:\Program Files\Python311\Lib\site-packages\sql\connection.py", line 82, in set
    raise ConnectionError(
sql.connection.ConnectionError: Environment variable $DATABASE_URL not set, and no connect string given.

Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])


### Task 2


#####  Display 5 records where launch sites begin with the string 'CCA'

In [66]:
# Querying records where launch sites begin with 'CCA'
cca_records = df[df['Launch_Site'].str.startswith('CCA')].head(5)
cca_records
# cca_records[['Date', 'Time (UTC)', 'Booster_Version', 'Payload',
#        'PAYLOAD_MASS__KG_', 'Orbit', 'Customer', 'Mission_Outcome',
#        'Landing_Outcome']]

,Date,Time (UTC),Booster_Version,Launch_Site,Payload,PAYLOAD_MASS__KG_,Orbit,Customer,Mission_Outcome,Landing_Outcome
0,2010-04-06,18:45:00,F9 v1.0 B0003,CCAFS LC-40,Dragon Spacecraft Qualification Unit,0,LEO,SpaceX,Success,Failure (parachute)
1,2010-08-12,15:43:00,F9 v1.0 B0004,CCAFS LC-40,"Dragon demo flight C1, two CubeSats, barrel of...",0,LEO (ISS),NASA (COTS) NRO,Success,Failure (parachute)
2,2012-05-22,07:44:00,F9 v1.0 B0005,CCAFS LC-40,Dragon demo flight C2,525,LEO (ISS),NASA (COTS),Success,No attempt
3,2012-08-10,00:35:00,F9 v1.0 B0006,CCAFS LC-40,SpaceX CRS-1,500,LEO (ISS),NASA (CRS),Success,No attempt
4,2013-01-03,15:10:00,F9 v1.0 B0007,CCAFS LC-40,SpaceX CRS-2,677,LEO (ISS),NASA (CRS),Success,No attempt

In [67]:
%%sql
SELECT *
FROM SPACEXTBL
WHERE LaunchSite LIKE 'CCA%'
LIMIT 5;

Traceback (most recent call last):
  File "c:\Program Files\Python311\Lib\site-packages\sql\magic.py", line 196, in execute
    conn = sql.connection.Connection.set(
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "c:\Program Files\Python311\Lib\site-packages\sql\connection.py", line 82, in set
    raise ConnectionError(
sql.connection.ConnectionError: Environment variable $DATABASE_URL not set, and no connect string given.

Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

### Task 3




##### Display the total payload mass carried by boosters launched by NASA (CRS)

In [68]:
%%sql
SELECT SUM(PayloadMass) as TotalPayloadMassForNASA
FROM SPACEXTBL
WHERE BoosterVersion LIKE '%CRS%';

Traceback (most recent call last):
  File "c:\Program Files\Python311\Lib\site-packages\sql\magic.py", line 196, in execute
    conn = sql.connection.Connection.set(
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "c:\Program Files\Python311\Lib\site-packages\sql\connection.py", line 82, in set
    raise ConnectionError(
sql.connection.ConnectionError: Environment variable $DATABASE_URL not set, and no connect string given.

Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

### Task 4




##### Display average payload mass carried by booster version F9 v1.1

In [69]:
%%sql
SELECT AVG(PayloadMass) as AveragePayloadMass
FROM SPACEXTBL
WHERE BoosterVersion = 'F9 v1.1';

Traceback (most recent call last):
  File "c:\Program Files\Python311\Lib\site-packages\sql\magic.py", line 196, in execute
    conn = sql.connection.Connection.set(
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "c:\Program Files\Python311\Lib\site-packages\sql\connection.py", line 82, in set
    raise ConnectionError(
sql.connection.ConnectionError: Environment variable $DATABASE_URL not set, and no connect string given.

Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

### Task 5

##### List the date when the first succesful landing outcome in ground pad was acheived.


_Hint:Use min function_

In [70]:
%%sql
SELECT MIN(Date) as FirstSuccessfulLandingDate
FROM SPACEXTBL
WHERE Outcome LIKE '%Ground%';

Traceback (most recent call last):
  File "c:\Program Files\Python311\Lib\site-packages\sql\magic.py", line 196, in execute
    conn = sql.connection.Connection.set(
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "c:\Program Files\Python311\Lib\site-packages\sql\connection.py", line 82, in set
    raise ConnectionError(
sql.connection.ConnectionError: Environment variable $DATABASE_URL not set, and no connect string given.

Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

### Task 6

##### List the names of the boosters which have success in drone ship and have payload mass greater than 4000 but less than 6000

In [71]:

%%sql
SELECT Serial
FROM SPACEXTBL
WHERE Outcome LIKE 'Success (drone ship)'
AND PayloadMass > 4000 AND PayloadMass < 6000;

Traceback (most recent call last):
  File "c:\Program Files\Python311\Lib\site-packages\sql\magic.py", line 196, in execute
    conn = sql.connection.Connection.set(
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "c:\Program Files\Python311\Lib\site-packages\sql\connection.py", line 82, in set
    raise ConnectionError(
sql.connection.ConnectionError: Environment variable $DATABASE_URL not set, and no connect string given.

Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

### Task 7




List the total number of successful and failure mission outcomes

In [72]:
%%sql
SELECT 
    SUM(CASE WHEN Class = 1 THEN 1 ELSE 0 END) as SuccessfulOutcomes,
    SUM(CASE WHEN Class = 0 THEN 1 ELSE 0 END) as FailureOutcomes
FROM SPACEXTBL;

Traceback (most recent call last):
  File "c:\Program Files\Python311\Lib\site-packages\sql\magic.py", line 196, in execute
    conn = sql.connection.Connection.set(
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "c:\Program Files\Python311\Lib\site-packages\sql\connection.py", line 82, in set
    raise ConnectionError(
sql.connection.ConnectionError: Environment variable $DATABASE_URL not set, and no connect string given.

Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

### Task 8



List the   names of the booster_versions which have carried the maximum payload mass. Use a subquery

In [73]:
%%sql
SELECT BoosterVersion
FROM SPACEXTBL
WHERE PayloadMass = (SELECT MAX(PayloadMass) FROM SPACEXTBL);

Traceback (most recent call last):
  File "c:\Program Files\Python311\Lib\site-packages\sql\magic.py", line 196, in execute
    conn = sql.connection.Connection.set(
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "c:\Program Files\Python311\Lib\site-packages\sql\connection.py", line 82, in set
    raise ConnectionError(
sql.connection.ConnectionError: Environment variable $DATABASE_URL not set, and no connect string given.

Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

### Task 9


List the records which will display the month names, failure landing_outcomes in drone ship ,booster versions, launch_site for the months in year 2015.

**Note: SQLLite does not support monthnames. So you need to use  substr(Date, 6,2) as month to get the months and substr(Date,0,5)='2015' for year.**

In [74]:
%%sql
SELECT strftime('%m', Date) as MonthName, Outcome, BoosterVersion, LaunchSite
FROM SPACEXTBL
WHERE Outcome LIKE 'Failure (drone ship)'
AND strftime('%Y', Date) = '2015';

Traceback (most recent call last):
  File "c:\Program Files\Python311\Lib\site-packages\sql\magic.py", line 196, in execute
    conn = sql.connection.Connection.set(
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "c:\Program Files\Python311\Lib\site-packages\sql\connection.py", line 82, in set
    raise ConnectionError(
sql.connection.ConnectionError: Environment variable $DATABASE_URL not set, and no connect string given.

Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

In [75]:
# Task 4
# Extracting month names
df['MonthName'] = pd.to_datetime(df['Date']).dt.month_name()

# Filtering the data for year 2015 and failure landing outcomes in drone ship
filtered_records = df[
    (df['Date'].str.startswith('2015')) & 
    (df['Landing_Outcome'].str.contains('False ASDS', na=False))
][['MonthName', 'Landing_Outcome', 'Booster_Version', 'Launch_Site']]

filtered_records

Empty DataFrame
Columns: [MonthName, Landing_Outcome, Booster_Version, Launch_Site]
Index: []

### Task 10




Rank the count of landing outcomes (such as Failure (drone ship) or Success (ground pad)) between the date 2010-06-04 and 2017-03-20, in descending order.

In [76]:
%%sql
SELECT Outcome, COUNT(*) as Count
FROM SPACEXTBL
WHERE Date BETWEEN '2010-06-04' AND '2017-03-20'
GROUP BY Outcome
ORDER BY Count DESC;

Traceback (most recent call last):
  File "c:\Program Files\Python311\Lib\site-packages\sql\magic.py", line 196, in execute
    conn = sql.connection.Connection.set(
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "c:\Program Files\Python311\Lib\site-packages\sql\connection.py", line 82, in set
    raise ConnectionError(
sql.connection.ConnectionError: Environment variable $DATABASE_URL not set, and no connect string given.

Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

In [77]:
# Task 5
landing_outcomes_count = df[
    (df['Date'] >= '2010-06-04') & (df['Date'] <= '2017-03-20')
].groupby('Landing_Outcome').size().sort_values(ascending=False).reset_index(name='Count')

landing_outcomes_count

          Landing_Outcome  Count
0              No attempt     10
1    Failure (drone ship)      5
2    Success (drone ship)      5
3    Success (ground pad)      5
4      Controlled (ocean)      3
5    Uncontrolled (ocean)      2
6     Failure (parachute)      1
7  Precluded (drone ship)      1

### Reference Links

* <a href ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20String%20Patterns%20-%20Sorting%20-%20Grouping/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : String Patterns, Sorting and Grouping</a>  

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Built-in%20functions%20/Hands-on_Lab__Built-in_Functions.md.html?origin=www.coursera.org">Hands-on Lab: Built-in functions</a>

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sub-queries%20and%20Nested%20SELECTs%20/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : Sub-queries and Nested SELECT Statements</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-3-SQLmagic.ipynb">Hands-on Tutorial: Accessing Databases with SQL magic</a>

*  <a href= "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-4-Analyzing.ipynb">Hands-on Lab: Analyzing a real World Data Set</a>

## Author(s)

<h4> Lakshmi Holla </h4>

## Other Contributors

<h4> Rav Ahuja </h4>

## Change log
| Date | Version | Changed by | Change Description |
|------|--------|--------|---------|
| 2021-07-09 | 0.2 |Lakshmi Holla | Changes made in magic sql|
| 2021-05-20 | 0.1 |Lakshmi Holla | Created Initial Version |

## <h3 align="center"> Â© IBM Corporation 2021. All rights reserved. <h3/>